################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Iys.Integration.Console/bin/Debug/netcoreapp3.1
/.vs/Iys.Integration
/Iys.Integration.Console/obj
